*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,ol,ul,p,address{
    margin-top: 0;
    margin-bottom: 0;
}


a{
    text-decoration: none;
}

ol,ul{
    list-style-type: none;
}

img{
    border: none;
}


/* google fonts */
.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  
.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.inter-semibold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

/* google fonts end*/

body{
    background-color: #F5F8FF;
}

.header{
    background-image: url("../images/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 698px;
}

nav{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

nav a{
    text-transform: uppercase;
    font-size: 25px;
    color: #4E47FF;
}

nav button{
    padding: 12px 36px;
    background-color: #4E47FF;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    border-radius: 10px;
    transition: all linear .5s;
}
nav button:hover{
    background-color: #03855a;
    color: #afff47;
}

/* nav part end */

/* banner part start */
.banner{
    text-align: center;
    padding: 158px 0px;
}
.banner h2{
    font-size: 65px;
    color: #252432;
}

.banner button{
    padding: 12px 36px;
    background-color: #4E47FF;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 37px;
    transition: all linear .5s;
}
.banner button:hover{
    background-color: #03855a;
    color: #afff47;
}

.main{
    max-width: 1140px;
    margin: 0 auto;
}

.action-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
}

.action-left h3{
    font-size: 42px;
    color: #252432;
}
.action-left p{
    font-size: 24px;
    color: #25243280;
    margin: 23px 0px;
}

.action-left button{
    padding: 12px 36px;
    background-color: #4E47FF;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    border-radius: 10px;
    transition: all linear .5s;
}
.action-left button:hover{
    background-color: #03855a;
    color: #afff47;
}

.action-right img{
    Width: 403px;
    Height: 328px;
    border-radius: 48px;
}
/* action part end */

.users{
    text-align: center;
    background-color: #4e47ff1a;
    border-radius: 24px;
    padding: 50px 0px;
    margin-bottom: 100px;
}

.users h3{
    font-size: 38px;
    color: #252432;
}

.user-items{
    display: flex;
    justify-content: center;
    gap: 158px;
}

.user-items h4{
     color: #4E47FF;   
     font-size: 80px;
     margin-top: 15px;
}
.user-items p{
    color: #00000080;
    font-size: 20px;
}
/* users part end */

.users-feedback h4{
    font-size: 42px;
    color: #252432;
    text-align: center;
    margin-bottom: 50px;
}

.users-feedback-details{
    display: flex;
    gap: 20px;
}

.feedback{
    max-width: 33.3%;
    background-color: #FAFBFF;
    border-radius: 15px;
    padding: 24px;
}

.feedback h5{
    font-size: 24px;
    color: #1e1e1e;
    margin: 10px 0px;
}
.feedback p{
    font-size: 16px;
    color: #1e1e1e;
    margin-bottom: 20px;
}
.client{
    display: flex;
    gap: 10px;
}
.client img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.client .client-details h6{
    font-size: 16px;
    color: #757575;
}
.client .client-details p{
    font-size: 12px;
    color: #a09f9f;
}
/* users feedback end */
.touch{
    display: flex;
    padding: 120px 0px;
    align-items: center;
}
.touch-left{
    width: 50%;
    font-size: 50px;
}
.touch-right{
    width: 50%;
}

.form-group {
    margin-bottom: 20px; 
}

.touch-right input[type="email"],
.touch-right input[type="text"],
.touch-right textarea
{
    width: 100%;
    display: block;
    padding: 20px;
    border: 1px solid #D6DDED;
    border-radius: 8px;
    font-size: 16px;
    transition: all linear .5s;
}

.touch-right label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.touch-right input:focus,
.touch-right textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px 1px #4a90e2;
}

.touch-right input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #4E47FF;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all linear .5s;
}
.touch-right input[type="submit"]:hover{
    background-color: #03855a;
    color: #afff47;
}

/* touch end */

