*{
    margin: 0;
    padding: 0;
    outline: 0;
}

h1,h2,h3,h4,h5,h6,ol,ul,p,address{
    margin-top: 0;
    margin-bottom: 0;
}


a{
    text-decoration: none;
}

ol,ul{
    list-style-type: none;
}

img{
    border: none;
}


/* google fonts */
.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }


.header{
    background-image: url("../images/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 698px;
}


nav{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0px;
}

nav a{
    text-transform: uppercase;
    font-size: 25px;
    color: #4E47FF;
}

nav button{
    padding: 12px 36px;
    background-color: #4E47FF;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    border-radius: 10px;
    transition: all linear .5s;
}
nav button:hover{
    background-color: #03855a;
    color: #afff47;
}

/* nav part end */
/* banner part start */
.banner{
    text-align: center;
    padding: 158px 0px;
}
.banner h2{
    font-size: 65px;
    color: #252432;
}

.banner button{
    padding: 12px 36px;
    background-color: #4E47FF;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 37px;
    transition: all linear .5s;
}
.banner button:hover{
    background-color: #03855a;
    color: #afff47;
}